<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>513013.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,722},{509,668}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{509,668}}</string>
                <key>sourceSize</key>
                <string>{509,668}</string>
            </dict>
            <key>513014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{926,718}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{926,718}}</string>
                <key>sourceSize</key>
                <string>{926,718}</string>
            </dict>
            <key>513014_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,1959},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>513015.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,2},{826,494}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{826,494}}</string>
                <key>sourceSize</key>
                <string>{826,494}</string>
            </dict>
            <key>513016.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,498},{760,681}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{760,681}}</string>
                <key>sourceSize</key>
                <string>{760,681}</string>
            </dict>
            <key>513017.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,1233},{666,511}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{666,511}}</string>
                <key>sourceSize</key>
                <string>{666,511}</string>
            </dict>
            <key>513018.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,1991},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>513019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1035,1959},{95,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,84}}</string>
                <key>sourceSize</key>
                <string>{95,84}</string>
            </dict>
            <key>513020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2021,207},{27,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,24}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>513021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2021,282},{6,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,67}}</string>
                <key>sourceSize</key>
                <string>{6,67}</string>
            </dict>
            <key>513022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,1959},{131,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,49}}</string>
                <key>sourceSize</key>
                <string>{131,49}</string>
            </dict>
            <key>513023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2021,236},{44,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,22}}</string>
                <key>sourceSize</key>
                <string>{44,22}</string>
            </dict>
            <key>513024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1283,1181},{383,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,302}}</string>
                <key>sourceSize</key>
                <string>{383,302}</string>
            </dict>
            <key>513025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1669},{102,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,65}}</string>
                <key>sourceSize</key>
                <string>{102,65}</string>
            </dict>
            <key>513026.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,1970},{100,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,66}}</string>
                <key>sourceSize</key>
                <string>{100,66}</string>
            </dict>
            <key>520008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,968},{387,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,193}}</string>
                <key>sourceSize</key>
                <string>{387,193}</string>
            </dict>
            <key>520009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,870},{194,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,96}}</string>
                <key>sourceSize</key>
                <string>{194,96}</string>
            </dict>
            <key>520010.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,1776},{359,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,181}}</string>
                <key>sourceSize</key>
                <string>{359,181}</string>
            </dict>
            <key>530013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,842},{331,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,305}}</string>
                <key>sourceSize</key>
                <string>{331,305}</string>
            </dict>
            <key>530014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1283,1776},{176,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,131}}</string>
                <key>sourceSize</key>
                <string>{176,131}</string>
            </dict>
            <key>530015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1566,1485},{106,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,123}}</string>
                <key>sourceSize</key>
                <string>{106,123}</string>
            </dict>
            <key>530016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,1776},{166,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,148}}</string>
                <key>sourceSize</key>
                <string>{166,148}</string>
            </dict>
            <key>530017.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1776},{215,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,169}}</string>
                <key>sourceSize</key>
                <string>{215,169}</string>
            </dict>
            <key>530018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,498},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{62,64}</string>
            </dict>
            <key>530019.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,1991},{55,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,79}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>530020.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,1669},{97,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,124}}</string>
                <key>sourceSize</key>
                <string>{97,124}</string>
            </dict>
            <key>534048.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,1149},{625,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{625,316}}</string>
                <key>sourceSize</key>
                <string>{625,316}</string>
            </dict>
            <key>534049.png</key>
            <dict>
                <key>frame</key>
                <string>{{1579,1593},{133,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,110}}</string>
                <key>sourceSize</key>
                <string>{133,110}</string>
            </dict>
            <key>534050.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1357},{192,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,310}}</string>
                <key>sourceSize</key>
                <string>{192,310}</string>
            </dict>
            <key>534051.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,1776},{117,213}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,213}}</string>
                <key>sourceSize</key>
                <string>{119,213}</string>
            </dict>
            <key>534052.png</key>
            <dict>
                <key>frame</key>
                <string>{{1579,1874},{127,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,145}}</string>
                <key>sourceSize</key>
                <string>{127,145}</string>
            </dict>
            <key>534053.png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,2},{203,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,287}}</string>
                <key>sourceSize</key>
                <string>{203,287}</string>
            </dict>
            <key>534054.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1776},{192,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,186}}</string>
                <key>sourceSize</key>
                <string>{192,186}</string>
            </dict>
            <key>534055.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1776},{210,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,248}}</string>
                <key>sourceSize</key>
                <string>{210,248}</string>
            </dict>
            <key>534056.png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,421},{107,258}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,258}}</string>
                <key>sourceSize</key>
                <string>{109,258}</string>
            </dict>
            <key>534057.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1993},{52,91}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{52,91}}</string>
                <key>sourceSize</key>
                <string>{54,91}</string>
            </dict>
            <key>534058.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,1944},{100,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,161}}</string>
                <key>sourceSize</key>
                <string>{100,161}</string>
            </dict>
            <key>534059.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,722},{146,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,203}}</string>
                <key>sourceSize</key>
                <string>{146,203}</string>
            </dict>
            <key>534060.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,665},{342,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,175}}</string>
                <key>sourceSize</key>
                <string>{342,175}</string>
            </dict>
            <key>534061.png</key>
            <dict>
                <key>frame</key>
                <string>{{1579,1728},{109,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,144}}</string>
                <key>sourceSize</key>
                <string>{109,144}</string>
            </dict>
            <key>540028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2010,1149},{35,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,50}}</string>
                <key>sourceSize</key>
                <string>{35,50}</string>
            </dict>
            <key>540029.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,1993},{50,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,110}}</string>
                <key>sourceSize</key>
                <string>{50,110}</string>
            </dict>
            <key>540030.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,1959},{87,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,49}}</string>
                <key>sourceSize</key>
                <string>{87,49}</string>
            </dict>
            <key>540031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1690,1776},{130,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,95}}</string>
                <key>sourceSize</key>
                <string>{130,95}</string>
            </dict>
            <key>540032.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,1970},{123,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,62}}</string>
                <key>sourceSize</key>
                <string>{123,62}</string>
            </dict>
            <key>540033.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,1970},{68,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,59}}</string>
                <key>sourceSize</key>
                <string>{68,59}</string>
            </dict>
            <key>540034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,530},{49,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,30}}</string>
                <key>sourceSize</key>
                <string>{49,32}</string>
            </dict>
            <key>540035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2010,1201},{46,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,33}}</string>
                <key>sourceSize</key>
                <string>{48,33}</string>
            </dict>
            <key>550029.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,1776},{111,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,192}}</string>
                <key>sourceSize</key>
                <string>{111,192}</string>
            </dict>
            <key>550030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,207},{212,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,261}}</string>
                <key>sourceSize</key>
                <string>{212,261}</string>
            </dict>
            <key>550031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,562},{101,349}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,349}}</string>
                <key>sourceSize</key>
                <string>{101,349}</string>
            </dict>
            <key>550032.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,1968},{77,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,138}}</string>
                <key>sourceSize</key>
                <string>{77,138}</string>
            </dict>
            <key>550033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,1873},{129,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,97}}</string>
                <key>sourceSize</key>
                <string>{129,97}</string>
            </dict>
            <key>550034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1915,1776},{106,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,125}}</string>
                <key>sourceSize</key>
                <string>{106,125}</string>
            </dict>
            <key>550035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1807,1873},{106,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,125}}</string>
                <key>sourceSize</key>
                <string>{106,125}</string>
            </dict>
            <key>550036.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,1776},{115,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,190}}</string>
                <key>sourceSize</key>
                <string>{115,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>home_1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:642405fd329fa7e31d3767b8b37602f1:045e5da3ee27e44cf87343c00a7cd8b8:f7a7f965ef9b6e7493ac6f86ecd91039$</string>
            <key>textureFileName</key>
            <string>home_1.png</string>
        </dict>
    </dict>
</plist>
